.nav-bar {
    width: 100%;
    height: 100vh;
    display: grid;
    row-gap: 20px;
    align-items: center;
    justify-items: stretch;
    grid-template-rows: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-image: url(https://media.giphy.com/media/VFMeeockL9plc2Oh5e/giphy.gif);
    background-size: 30rem;
    
}


.nav-bar h1 {
    margin: 0;
    width: 100%;
}

a {
    margin: 0;
    font-size: 4em;
    color: #adadad;
    text-decoration: none;
}