.article-container {
    display: grid;
    word-wrap: normal;
    border: 5px solid #BB3500; 
    justify-items: left;
    color: darkolivegreen;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
    width: 100%;
    justify-content: center;
    
}

.article__main {
    width: 50%;
    text-align: left;
    margin: 11%;
    transition: ease-in-out 0.5s;
}

.article__title {
    font-family: 'Montserrat';
}

.article__content, .article__author {
    font-size: 25px;
    word-wrap: break-word;
}


@media screen and (max-width: 700px) {
    .article__main {
        width: 100%;
        text-align: left;
        margin: 0;
        text-align: left;
        transition: ease-in-out 0.5s;
    }
     
}