.article-container {
    width: 100%;
    display: grid;
    overflow: hidden;
    word-wrap: normal;
    justify-items: left;
    justify-content: center;
    color: darkolivegreen;
    transition: ease-in-out 0.5s;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
    
}

.article__main {
    margin: 0;
    width: 100%;
    text-align: left;
    transition: ease-in-out 0.5s;
    border-top: 5px solid #BB3500;
    border-bottom: 5px solid #BB3500; 
    
}

.article__title {
    font-family: 'Montserrat';
}

.article__content, .article__author {
    font-size: 25px;
    word-wrap: break-word;
}

@media screen and (min-width: 600px) {
    .article__main {
        width: 50%;
        margin: 11%;
        text-align: left;
        text-align: left;
        transition: ease-in-out 0.5s;
    }
     
}