.event-cards-container {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    justify-items:center;
    align-content: center;
    grid-template-rows: auto;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    
}

.event-container {
    border-top: 5px solid #BB3500;
    border-bottom: 5px solid #BB3500; 
}

.event-container h1 {
    color: #BB3500;
    text-align: center;

}

.new-event {
    display: grid;
}