.event-cards-container {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    justify-items:center;
    align-content: center;
    grid-template-rows: auto;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    
}

.event-container {
    border: black solid 2px;
}
