.event-cards-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    
}

.event-container {
    border: black solid 2px;
}
