.user-portal-container {
    display: grid;
    margin: 0;
    padding: 0;
    justify-content: right;
    grid-template-columns: 2fr;
}

.user-portal-container h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}